.footerStyle {
    background-color: black;
    font-size: 20px;
    color: white;
    text-align: center;
    position: fixed;
    bottom: -60px;
    width: 100%;
    transform: skewY(-1deg);
    border-top-left-radius: 40px;
    height: 150px;
}

.footerStyle:before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: -39px;
    right: 0;
    z-index: -2;
}

.footerStyle:after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: white;
    position: absolute;
    top: -80px;
    right: 0;
    z-index: -2;
    border-radius: 50%;
    z-index: -1;
}

.space{
    margin-top: 100px;
}

.footer-text{
    padding-top: 10px;
    transform: skewY(1deg);
}

.footer-link{
    color: wheat;
}

.footer-link:hover{
    color: burlywood;
}