.account_avatar_col{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.avatar_img{
    border-radius: 100% !important;
    width: 15%;
}

.pencil_ico{
    border-radius: 100% !important;
    position: absolute;
    bottom: -3%;
    left: 55%;
}
